{% extends "accounts/layout.html" %}
{% load crispy_forms_tags %}

{% block main %}


    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    </script>

    <main class="container pt-100">

        <form action="{% url 'dashboard' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
    
            {{form | crispy}}
            <button class="btn btn-outline-primary mt-3 mb-3 text-right" type="submit">Add</button>
        </form>

        

    </main>





{% endblock %}